<%- include('../includes/header.ejs',{authority:authority}) %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card border-primary">
        <div class="card-header  text-white">
          <h3 class="card-title"><%= result.eventName %></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="/poster/<%= result.eventPoster %>" class="img-fluid rounded" alt="Event Poster" onerror="this.onerror=null;this.src='/poster/fallback-poster.png';">
            </div>
            <div class="col-md-4">
              <p><strong>Description:</strong></p>
              <p><%= result.eventDescription %></p>
              <!-- Add other event details here -->
            </div>
            <div class="col-md-4">
              <h5 class="mb-3">Event Attachments</h5>
              <div class="row">
                <% result.eventAttachment.forEach(function(attachment) { %>
                  <div class="col-md-4 mb-3">
                    <img src="/eventAttachments/<%= attachment %>" class="img-fluid rounded" alt="Event Attachment" onerror="this.onerror=null;this.src='/eventAttachments/fallback-attachment.jpg';">
                  </div>
                <% }); %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <h3>View Participants</h3>
            <% if (result.registeredParticipants.length > 0) { %>
              <% result.registeredParticipants.forEach(function(participant) { %>
                <div class="col-md-4 mb-3">
                  <p><strong>UserId:</strong> <%= participant.userId %></p>
                  <!-- <p><strong>Email:</strong> <%= participant.email %></p> -->
                  <!-- Add other participant details here -->
                </div>
              <% }); %>
            <% } else { %>
              <p>No participants registered for this event yet.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('../includes/footer.ejs') %>
